html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#myDiv
{
  cursor: pointer;
}
.help {
  background-color: #c0c0c0;
  color: Black;
  font-size: 20px;
  text-align: center;
  font-family: Courier;
}
